<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <meta charset="utf-8">
    <title>Places You Have Visited</title>
  </head>
  <body>
    <div class="container">
      <h1>Hello</h1>
      <form class="placesForm" action="/places" method="post">
        <label for="places">Enter a place you've been:</label>
        <input type="places" name="places">
        <label for="time">Enter how long you were there:</label>
        <input type="date" name="time">
        <label for="activity">Enter what you did there:</label>
        <input type="activity" name="activity">
        <button class="btn-info" type="submit" name="btn">Enter!</button>
      </form>
    </div>
  </body>
</html>
